

body {

    /* Top Navbar padding */
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/


}

.navbar {
    /* Top Navbar padding */
    /*margin-bottom: 20px;*/
}

/*Buttons in nav bars*/
.navbar-nav > li > button {
    padding-top: 15px;
    padding-bottom: 15px;
    background: transparent;
    color: #777777;

}
