 <!--debug panel TEMPORARY-->
<style>
    div.debug-panel-controls {
        background-color: lightgrey;
        border-bottom: 1px solid darkgrey;
    }
</style>
<div class="debug-panel-controls">
<form class="form-inline" role="form">
Show:
<input type="checkbox" ng-model="ui.panels.topNav.show"> Top Nav
<input type="checkbox" ng-model="ui.panels.sideNav.show"> Side Nav
<!--<input type="checkbox" ng-model="ui.panels.search.show"> Search-->
<!--<input type="checkbox" ng-model="ui.panels.notification.show"> Notification-->

<!--<button ng-click="showModalFor()">2 Sec Progress</button>-->
<!--<button ng-click="showModal()">Show Progress</button>-->

</form>
</div>
