<nav id="main-nav" role="navigation" >
    <a href="#/apps" class="categories"><span class="glyphicon glyphicon-align-justify menu-icon icon-categories"></span>Categories</a>
    <a href="" ng-click="goProgress('/apps/all')" class="all-apps"><span class="glyphicon glyphicon-list menu-icon icon-all-apps">&nbsp;</span>All Apps</a>
    <a href="" ng-click="goProgress('/apps/corporate')" class="woolworths"><span class="menu-icon icon-woolworths">&nbsp;</span>Woolworths Limited </a>
    <a href="" ng-click="goProgress('/apps/liquor')" class="woolworths-liquor"><span class="menu-icon icon-woolworths-liquor">&nbsp;</span>Woolworths Liquor</a>
    <a href="" ng-click="goProgress('/apps/petrol')" class="woolworths-petrol"><span class="menu-icon icon-woolworths-petrol">&nbsp;</span>Woolworths Petrol</a>
    <a href="" ng-click="goProgress('/apps/masters')" class="masters"><span class="menu-icon icon-masters">&nbsp;</span>Masters</a>
    <a href="" ng-click="goProgress('/apps/supermarkets')" class="woolworths-supermarkets"><span class="menu-icon icon-woolworths-supermarkets">&nbsp;</span>Supermarkets</a>
    <a href="" ng-click="goProgress('/apps/pel')" class="pel"><span class="menu-icon icon-pel">&nbsp;</span>PEL</a>
    <a href="" ng-click="goProgress('/apps/logistics')" class="logistics"><span class="menu-icon icon-logistics">&nbsp;</span>Logistics</a>
    <a href="" ng-click="goProgress('/apps/big-w')" class="big-w"><span class="menu-icon icon-big-w">&nbsp;</span>Big W</a>
    <div class="second-tier-nav">
        <a href="" ng-click="goProgress('/status')" class="btn btn-default btn-light "><span class="glyphicon glyphicon-flag"></span> Your Requested Apps</a>
        <a href="" ng-click="goPage('/apps/available')" class="btn btn-default btn-light"><span class="glyphicon glyphicon-ok"></span> Available for Request</a>
        <a href="" ng-click="goPage('/apps/recommended')" class="btn btn-default btn-light"><span class="glyphicon glyphicon-thumbs-up"></span>Recommended</a>
        <a href="" ng-click="goProgress('/apps/coming')" class="btn btn-default btn-light"><span class="glyphicon glyphicon-time"></span> Coming Soon</a>
    </div>
</nav>
